.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://t4.ftcdn.net/jpg/04/24/42/49/360_F_424424973_gbWTLm4RkYpRPrKpWxf77X2GvJUzdUWA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-content { /* Use the same class name as in the login page */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.register-form {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    color: #4caf50;
    text-align: center;
    margin-bottom: 20px;
}

.register-form form {
    display: flex;
    flex-direction: column;
}

.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.register-form input,
.register-form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-form button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #45a049;
}

.register-form p {
    margin-top: 15px;
    text-align: center;
}

.register-form a {
    color: #4caf50;
    text-decoration: none;
}

.register-form a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.navmistake {
    background-color: #20262e;
    width: 100%;
    height: 22px;
}
